/* Set text to Arial */
body{
    font-family: Arial;
}
/* Center headings */
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.plot_titles{
    font-weight: bold;
}

  /* Create three equal columns that floats next to each other */
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column{
    flex: 33.33%;
  }

  .point{
    opacity : 0.5;
  }

  .bars{
    opacity: 0.5;
  }

  .selected {
    opacity: 1 !important;
    stroke: orangered;
    stroke-width: 1px;
  }