/* Set text to Arial */
body{
    font-family: Arial;
}
/* Center headings */
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 16px
}
h3{
  text-align: center;
  font-size: 15px
}

.plot_titles{
    font-weight: bold;
}
.overlay{
  opacity: 0;
}

  /* Create three equal columns that floats next to each other */
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column{
    flex: 33.33%;
  }

  /* All dots and bars with these classes should begin with opacity 0.5 */
  .setosa{
    opacity : 0.5;
  }

  .versicolor{
    opacity : 0.5;
  }

  .virginica{
    opacity : 0.5;
  }

  /* When middle brushing occurs, change opacity and stroke of corresponding elements */
  .selected {
    opacity: 1 !important;
    stroke: orangered;
    stroke-width: 2px;
  }